.content{
    height: 1050px;
    width: 100%;
    margin: 0 auto;
}
.content-head {
    height: 120px;
}
.content-center {
    background: rgba(241,241,241,1);
    height: 928px;
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.content-center section{
    margin: 0 auto;
    width: 1200px;
    height: 100%;
}
.content-center section h3 {
    padding-top: 50px;
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(222,222,222,1);
}
.default {
    font-family: Arial,"Î¢ÈíÑÅºÚ";
    color: rgba(50,50,50,1);
    font-size: 13px;
    line-height: 26px;
}
